.App {
  text-align: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}


.image-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

.pagination button.active {
  background-color: #555;
  color: #fff;
}
